@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../imagens/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    color: white;
}

header > p {
    padding: 0px 50px;
    max-width: 900px;
    line-height: 1.5em;
}

a {
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    border: solid 1px rgba(255, 255, 255, 0.812);
    transition-duration: 0.3s;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.699);
    color: black;
}

section#web {
    text-align: center;
    padding: 25px;
    background-color: rgba(128, 128, 128, 0.214);
}

div.web {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 25px;
}

div.web > p {
    padding: 10px;
    max-width: 500px;
    line-height: 1.5em;
}

section#blocos {
    background-color: rgba(0, 0, 0, 0.79);
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    list-style: none;
}

li {
    padding: 10px;
}

div.bloco {
    display: flex;
    flex-direction: column;
    width: 270px;
    background-color: white;
    text-align: center;
}

h3 {
    padding: 30px 0px;
}

div.bloco > p {
    padding: 0px 10px 15px 10px;
    line-height: 1.7em;
}

article#art {
    padding: 25px;
    background-color: rgba(128, 128, 128, 0.078);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

article#art > p {
    max-width: 800px;
    display: flex;
    align-self: center;
    line-height: 1.5em;
    padding: 30px;
}

article#opt {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.79);
    color: white;
}

div.opt1, div.opt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

div.opt1 {
    background-color: rgb(38, 144, 212);
}

p.mid {
    padding: 50px 15px;
}

footer {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: bold;
}



@media (max-width: 600px) {
    div.web {
        display: block;
    }
}

@media (max-width: 900px) {
    ul {
        flex-direction: column;
    }

    article#opt {
        flex-direction: column;
    }
}
    
